<div style="text-align: left;" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Erreur</h4>
    <p>{{ erreur }}</p>
    <hr>
    <small class="mb-0">Attendez quelque minute puis essayer de rafraichir la page.</small>
</div>