<div style="width: 100%; border-radius: 10px; border-style: solid; border-width: 1px; margin-top: 15px; padding: 5px;" id="locationFilter">
    <h4>Filtre par localisation</h4>
    
    <h6>Localisation actuelle: </h6>
    <div id="locationFilter_Map" style="width: 100%; height: 250px; border-radius: 5px;" ></div>

    <label for="locationFilter_Range" class="form-label">Rayon de recherche (km)</label>
    <input type="range" class="form-range" min="1" max="100" id="locationFilter_Range" value=10>

    <button id="locationFilter_Submit" class="btn btn-primary">Appliquer</button
</div>