<!-- newDemandeOffreModal -->
<div class="modal fade" id="newDemandeOffreModal" tabindex="-1" aria-labelledby="newDemandeOffreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newDemandeOffreModalLabel">Envoyer une demande de location</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <form id="newDemandeOffreModalForm">
                    <input type="number" id="newDemandeOffreModal_Id" hidden>
                
                    <label>Date de la location:</label>
                    <input type="date" id="newDemandeOffreModal_Dates">
                </form>
            </div>
            <div class="modal-footer">
                {{! 
                    <button id="cancelRequest" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button id="sendRequest" type="button" data-bs-dismiss="modal" class="btn btn-primary">Envoyer</button>
                 }}

                <div class="col">
                    <div id="paypal-button-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- editDemandeOffreModal -->
<div class="modal fade" id="editDemandeOffreModal" tabindex="-1" aria-labelledby="editDemandeOffreLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editDemandeOffreLabel">Envoyer une demande de location</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <form id="editDemandeOffreForm">
                    <input type="number" id="editDemandeOffre_Id" hidden>
                
                    <label>Date de la location:</label>
                    <input type="date" id="editDemandeOffre_Dates">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                <button id="editRequest" type="button" data-bs-dismiss="modal" class="btn btn-warning">Modifier</button>
            </div>
        </div>
    </div>
</div>

<!-- showDetailsModal -->

<div id="mainBody">
    <div style="text-align: left;" class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 offre-body">
        {{ #offres }}
        <div class="col-10 offre-card">
            <div class="card border-dark">
                <div class="card-body">
                    <h5 class="card-title">{{ nom }}</h5>
                    <h6 class="card-subtitle text-muted">{{ prix }}$/jour</h6>
                    <img src="images/imagesOffres/{{ image }}" class="card-img-top" alt="...">
                    {{ #connected }}
                        {{ #demandes }}
                            {{ #editButton }}
                                <button id="{{ name }}Btn_{{ id }}" name="{{ name }}"
                                    class="btn btn-outline-warning card-btn"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#editDemandeOffreModal" 
                                    data-bs-offreName="{{ demandes.name }}" 
                                    data-bs-offreId="{{ id }}"
                                    data-bs-offreDateDebut="{{ dateDebut }}"
                                    data-bs-offreDateFin="{{ dateFin }}"
                                    data-bs-demandeOffreDate="{{ date }}"
                                >
                                    <i class="{{ iconClass }}"></i>
                                </button>
                            {{ /editButton }}
                            {{ #button }}
                            <button id="{{ name }}Btn_{{ id }}" name="{{ name }}" 
                                class="btn btn-outline-danger card-btn">{{ texte }}</button>                    
                            {{ /button }}
                        {{ /demandes }}

                        {{ ^demandes }}
                            <button type="button" class="btn btn-primary card-btn louer-btn" data-bs-toggle="modal" 
                                data-bs-target="#newDemandeOffreModal" 
                                data-bs-offreName="{{ demandes.name }}" 
                                data-bs-offreId="{{ id }}"
                                data-bs-offreDateDebut="{{ dateDebut }}"
                                data-bs-offreDateFin="{{ dateFin }}"
                                data-bs-prix="{{ prix }}"
>
                            Louer
                            </button>
                        {{ /demandes }}

                    {{ /connected }}
                </div>
                <div class="card-footer text-muted d-flex">
                    {{ #infoVendeur }}
                        {{ fullName }}
                    {{ /infoVendeur }}
                    
                    {{ #demandes }}
                        <div class="vr"></div>
                        {{ shortDate }}
                    {{ /demandes }}
                </div>
            </div>
        </div>
        {{ /offres }}
    </div>
</div>